.band-dash {
    padding: 20px 0;
    background: rgb(255,118,118);
    background: linear-gradient(169deg, rgba(255,118,118,1) 0%, rgba(22,34,76,1) 42%);
    margin: 0 100px;
    margin-top: 20px;
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.4);
}
.band-dash .dash-milieu .dash-profil {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.band-dash .dash-milieu .dash-profil-text {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.band-dash .dash-milieu .dash-profil-text .dash-useremail{
    color: gray;
    font-size: 14px;
} 
.band-dash .dash-milieu .btn-modifier{
    background-color: transparent;
    border: none;
    color: rgb(161, 161, 161);
    border: 1px solid rgb(77, 77, 77);
    padding: 0.5vw 7vh;
    border-radius: 10px;
    position: relative;
    right:10px ;
    bottom: 20px;
    float: right;
}

.band-dash .dash-milieu .dash-profil-text .dash-socialmedia i{
  opacity: 0.5;
  color: rgb(255, 255, 255);
  position: relative;
    left:10px ;
    bottom: 10px;
  float: left;
  padding-left: 10px;
}
.dash-contaneur{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.dash-contaneur .text{
    text-align: center;
    
}
.dash-contaneur .btn-add-annonce{
    margin-bottom: 15px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: tomato;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5vw 7vh;
    border-radius: 30px;
}
.dash-contaneur .btn-add-annonce:active{
	transform: scale(0.95);
	transition: transform 80ms ease-in;
}
.dash-contaneur .btn-add-annonce:hover{
    transition: transform 80ms ease-in;
    transform: scale(1.1);	
}

  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  }
  
  
  p, li, a{
    font-size: 14px;
  }
  
  .button, input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  /* GRID */
  
  .twelve { width: 100%; }
  .eleven { width: 91.53%; }
  .ten { width: 83.06%; }
  .nine { width: 74.6%; }
  .eight { width: 66.13%; }
  .seven { width: 57.66%; }
  .six { width: 49.2%; }
  .five { width: 40.73%; }
  .four { width: 32.26%; }
  .three { width: 23.8%; }
  .two { width: 15.33%; }
  .one { width: 6.866%; }
  
  /* COLUMNS */
  
  .col {
      display: block;
      float:left;
      margin: 1% 0 1% 1.6%;
  }
  
  .col:first-of-type {
    margin-left: 0;
  }
  
  .container{
    width: 100%;
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
  }
  
  /* CLEARFIX */
  
  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }
  
  .cf:after {
      clear: both;
  }
  
  .cf {
      *zoom: 1;
  }
  
  

  @media screen and (max-width: 800px){
    .band-dash {
      padding: 20px 0;
      margin: 0 0;
      margin-top: 20px;
      box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.4);
  }
  }
  